{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  <h1>{% trans "Sign Up" %}</h1>

  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit" class="primaryAction">{% trans "Sign Up" %}</button>
  </form>
  <div class="or-divider">
    <span></span>
    <p>or</p>
    <span></span>
  </div>
  {% blocktrans %}
    <div class="centered">
    <a href="{{ login_url }}">I already have an account</a>{% endblocktrans %}
</div>
{% endblock %}